#articles {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
}


.fullArticle {
  padding: 5px 0;
  max-width: 700px;
  margin: 0 auto;
}

.article {
  position: relative;
  margin: 0;
  color: #333333;
  background: white;
  overflow: hidden;
  padding: 10px;

  & > .image {
    float: none;
    display: block;
    max-width: 100%;
    max-height: 400px;
    margin: 0 auto;
  }

  &.minified > .image {
    float: none;
    margin: 0 auto;
  }

  & > .date, & > .commentsNumber {
    font-size: .75em;
    line-height: 35px;
    color: rgb(150, 150, 150);
    padding: 0 10px;

    & > .material-icons {
      float: left;
      margin: 5px;
    }
  }

  & > .date {
    margin-top: 10px;
  }

  &.minified > .date {
    margin-top: 0;
    padding: 0;
  }

  & > .title {
    font-weight: 500;
    color: black;
    font-size: 1.8em;
    letter-spacing: -.08em;
    padding-top: 20px;
    padding-bottom: 0;
  }

  &.minified > .title {
    padding-top: 0;
    padding-bottom: 5px;
    font-size: 1.4em;
  }

  & > .btn {
    margin: 5px 0 0 0;
  }

  &.minified > .btn {
    float: right;
    text-align: center;
    margin: 0 0 0 5px;
  }

  & > .commentsNumber {
    float: right;
  }

  &.minified > .content {
    display: none;
  }
}


.comments {
  margin-top: 50px;
  padding: 0 5px;

  & > .comment {
    margin: 10px 0;

    & > .top {
      font-size: .9em;

      & > .author,
      & > .date {
        display: inline-block;
        padding: 5px;
      }

      & > .author {
        color: rgba(0, 0, 0, .5);
        font-weight: bold;
      }
    }

    & > .content {
      padding: 5px;
      font-size: .9em;
    }
  }
}


@media screen and (min-width: 400px) {
  .fullArticle {
    padding: 5px;
  }

  .comments {
    padding: 0;
  }

  .article {
    
  }
}


@media screen and (min-width: 400px) {
  .fullArticle {
    padding: 5px;
  }

  .comments {
    padding: 0;
  }

  .article {
    
    &.minified > .image {
      float: left;
      width: 33%;
      margin: 0 5px 0 0;
    }
  }
}