.input {
  display: block;
  margin: 15px 0;

  & > label {
    display: block;
    font-size: .9em;
  }

  & > .help {
    font-size: .7em;
  }

  & > input,
  & > textarea {
    display: block;
    margin: 5px 0;
    font-family: inherit;
    font-size: 1em;
    border: 0;
    padding: .7em 1em;
    background: rgba(255, 255, 255, .7);
    color: rgb(80, 80, 80);

    &:hover,
    &:focus {
      background: rgba(255, 255, 255, .85);
    }
  }

  & > input {
    width: 300px;
  }

  & > textarea {
    width: 100%;
  }
}


.btn {
  display: inline-block;
  text-decoration: none;
  border: 0;
  padding: .75em 2em;
  background: rgb(60, 60, 60);
  color: rgba(255, 255, 255, .6);
  cursor: pointer;
  font-size: 1em;
  font-family: inherit;
  font-weight: 700;
  @include transition-duration(.4s);
  outline: none;
  margin: 15px 5px;

  &:hover {
    background: rgb(50, 50, 50);
  }

  &:focus {
    background: rgb(80, 80, 80);
  }
}