header {
  position: relative;
  text-align: center;
  padding: 150px 5px;

  & > div {
    display: inline-block;
    cursor: pointer;
    
    & > .logo {
      display: inline-block;
      border: 5px solid white;
      background-color: white;
      background-image: url(../img/avatar.png);
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: center;
      height: 150px;
      width: 150px;
      @include border-radius(50%);
      @include box-shadow(0px 0px 30px -10px rgba(0, 0, 0, .75));
    }

    & > .name {
      font-size: 3em;
      padding-top: 20px;
      font-family: cursive;
      color: black;
      color: rgba(0, 0, 0, .8);
    }
  }
}

