nav {
  position: fixed;
  top: 0; left: 0; right: 0;
  z-index: 2;
  @include transition-duration(.4s);
  color: rgb(80, 80, 80);

  &.active {
    bottom: 0;
    color: white;
  }

  & > .navigation {
    overflow: hidden;
    @include box-shadow(inset 0 12px 20px -12px rgba(0, 0, 0, .6));

    & > .material-icons {
      float: right;
      font-size: 28px;
      padding: 10px 20px;
      cursor: pointer;
      @include opacity(.7);
      @include transition-duration(.4s);

      &:hover, &.active {
        @include opacity(1);
      }

      &:nth-child(1) {
        float: left;
      }
    }
  }

  &.active > .navigation {
    background: rgba(0, 0, 0, .9);
  }

  & > .panel {
    display: table;
    height: calc(100% - 46px);
    width: 100%;
    background: rgba(0, 0, 0, .9);
    @include box-shadow(0px 0px 30px -10px rgba(0, 0, 0, .75));

    & > .v-center {
      display: table-cell;
      width: 100%;
      height: 100%;
      vertical-align: middle;
      text-align: center;
      padding: 5px;
    }

    & ul {
      display: inline-block;
      list-style: none;
      margin: 0;
      padding: 0;

      & > li {
        text-align: center;
        padding: .4em 0;

        & > a {
          display: inline-block;
          font-size: 1.5em;
          padding: 7px 0;
          text-decoration: none;
          color: inherit;
          border-bottom: 1px solid transparent;
          @include transition-duration(.4s);

          &:hover {
            border-color: rgba(255, 255, 255, .4);
          }
        }
      }
    }
  }
}

/**
 *  Vue.JS Animation
**/
.slide-enter-active {
  transition: all .7s ease;
}

.slide-leave-active {
  transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.slide-enter, .slide-leave-to {
  transform: translateY(-100%);
}