#timeline {
  position: relative;
  max-width: 800px;
  margin: 2em auto;
  padding: 0 40px 0 40px;

  & > .line {
    background-image: linear-gradient(
                          to bottom,
                          rgba(0, 0, 0, 0),
                          rgb(70, 70, 70) 10%,
                          rgb(70, 70, 70),
                          rgb(70, 70, 70) 80%,
                          rgba(0, 0, 0, 0));
    position: absolute;
    top: 0; bottom: 0;
    left: 10px;
    width: 2px;
  }

  & > .steps {

    & > .step {
      position: relative;
      padding: 30px 0;

      &:before {
        background: rgb(200, 200, 200);
        content: '';
        position: absolute;
        border: 2px solid rgb(70, 70, 70);
        top: 46px; left: -35px; bottom: 46px;
        width: 8px;
        min-height: 8px;
        @include border-radius(3px);
      }

      & > .date,
      & > .entity {
        font-size: .8em;
        color: rgba(0, 0, 0, .5);
      }

      & > .title {
        font-size: 1em;
        font-weight: bold;
        text-transform: uppercase;
        cursor: pointer;
      }

      & > .content {
        display: none;
        padding: 5px;
        font-size: .8em;
      }

      &:hover,
      &.active {
        &:before {
          background: rgb(120, 120, 120);
        }

        & > .content {
          display: block;
        }
      }
    }
  }
}
