<template>
  <div class="step">
    <div class="date">{{ dates.start }} - {{ dates.end }}</div>
    <div class="title text-study">{{ title }}</div>
    <div class="entity">{{ entity }}</div>
    <div class="content">{{ description }}</div>
  </div>
</template>

<script>
import Timeline from '../../datas/Timeline';

export default {
  props: [ 'id' ],
  created() {
    if (this.id) {
      let elt = this;

      Timeline.get(this.id, (err, res) => {
        if (!err) {
          elt.dates = res.dates;
          elt.title = res.title;
          elt.entity = res.entity;
          elt.description = res.description;
        }
      })
    }
  },
  data() {
    return {
      dates: {
        start: '2013',
        end: '2015'
      },
      title: 'My Job Title',
      entity: 'Company Inc.',
      description: "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
    }
  }
}
</script>