<template>
  <div id="timeline">
    <div class="line"></div>
    <div class="steps" v-if="timeline">
      <app-timeline-step v-for="value in timeline" :id="value._id"></app-timeline-step>
    </div>
  </div>
</template>

<script>
import TimelineStep from './timeline-step.vue';
import Timeline from '../../datas/Timeline';

export default {
  components: {
    'app-timeline-step': TimelineStep
  },
  created() {
    let that = this;

    Timeline.get(undefined, (err, res) => {
      if (!err && res) {
        that.timeline = res;
      } else {
        that.timeline = undefined;
      }
    })
  },
  data() {
    return {
      timeline: undefined
    }
  }
}
</script>