#home {
  padding-bottom: 2em;

  & > .cell,
  & > .table > .cell {
    padding-bottom: 50px;
  }

  & > .cell > .title,
  & > .table > .cell > .title {
    display: block;
    padding: 7px 25px;
    cursor: pointer;
    text-align: center;
    color: rgba(0, 0, 0, .7);
    font-size: 1em;
    @include transition-duration(.4s);

    & > .material-icons {
      display: block;
      font-size: 2.1em;
    }
  }
}

@media screen and (min-width: 800px) {

  #home {

    & > .table {
      display: table;

      & > .cell {
        display: table-cell;
        vertical-align: top;

        &:first-child {
          width: 450px;
        }
      }
    }
  }
}