<template>
  <div class="page-wrapper">
    <div class="padding">
      <h1>Article</h1>
    </div>
    <app-article comments="true" :id="$route.params.id"></app-article>
  </div>
</template>

<script>
import Article from '../components/article.vue';

export default {
  components: {
    'app-article': Article
  }
}
</script>
