<template>
  <div class="page-wrapper">
    <div class="padding">
      <h1>Blog</h1>
    </div>
    <app-articles></app-articles>
  </div>
</template>

<script>
import Articles from '../components/articles.vue';

export default {
  components: {
    'app-articles': Articles
  }
}
</script>
