<template>
  <div id="home">
    <!--div class="cell">
      <div class="title">
        <div class="material-icons">favorite_border</div>
        Délire du moment
      </div>
      <app-godonut></app-godonut>
    </div-->
    <div class="table page-wrapper">
      <div class="cell">
        <div class="title">
          <div class="material-icons">timeline</div>
          Timeline
        </div>
        <app-timeline></app-timeline>
      </div>
      <div class="cell">
        <div class="title">
          <div class="material-icons">new_releases</div>
          Blog posts
        </div>
        <app-articles minified="true"></app-articles>
      </div>
    </div>
  </div>
</template>

<script>
import GoDonutComponent from '../components/fun/godonut/godonut.vue';
import TimelineComponent from '../components/timeline/timeline.vue';
import ArticlesComponent from '../components/articles.vue';

export default {
  components: {
    'app-godonut': GoDonutComponent,
    'app-timeline': TimelineComponent,
    'app-articles': ArticlesComponent
  }
}
</script>
