<template>
  <div class="page-wrapper padding">
    <h1>Timeline</h1>
    <app-timeline></app-timeline>
  </div>
</template>

<script>
import Timeline from '../components/timeline/timeline.vue';

export default {
  components: {
    'app-timeline': Timeline
  }
}
</script>
