<template>
  <div>
    <div class="page-wrapper padding">
      <h1>{{ pageTitle }}</h1>
    </div>
    <div class="table bg-white">
      <div class="cell cell-2 padding">
        <form method="POST" action="#" v-on:submit.prevent="saveArticle">
          <div class="input">
            <label for="cover">Image de couverture</label>
            <input type="text" name="cover" id="cover" v-model="img" placeholder="http://..." autocomplete="off">
          </div>
          <div class="input">
            <label for="title">Titre</label>
            <input type="text" name="title" id="title" v-model="title" placeholder="Mon super titre" autocomplete="off">
          </div>
          <div class="input">
            <label for="content">Contenu</label>
            <textarea id="content" v-model="contentInput" @input="update" placeholder="Lorem ipsum..."></textarea>
          </div>
          <div class="padding text-center">
            <input class="btn" type="submit" name="save" value="Enregistrer l'article">
          </div>
        </form>
      </div>
      <div class="cell cell-2">
        <div class="article">
          <img class="image" :src="img">
          <div class="date">
            <span class="material-icons">event</span> {{ date }}
          </div>
          <div class="title">{{ title }}</div>
          <div class="content" v-html="contentTranslated"></div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Article from '../datas/Article';
import Helpers from '../tools/Helpers';
import marked from 'marked';


export default {
  data() {
    return {
      pageTitle: 'Nouvel article',
      articleId: undefined,
      date: Helpers.formatDate(new Date()),
      img: undefined,
      title: '',
      contentInput: '',
      contentTranslated: ''
    }
  },
  created() {
    if (this.$route.params && this.$route.params.id) {
      let elt = this;

      Article.get(this.$route.params.id, (err, res) => {
        if (!err) {
          elt.articleId = elt.$route.params.id;
          elt.date = Helpers.formatDate(res.date);
          elt.title = res.title;
          elt.img = res.img;
          elt.contentInput = res.description;
          elt.contentTranslated = marked(res.description);
          elt.pageTitle = 'Mise à jour de l\'article';
        }
      })
    }
  },
  methods: {
    update(e) {
      this.contentTranslated = marked(this.contentInput);
    },
    saveArticle(e) {
      let elt = this;

      if (this.articleId) {
        Article.update(this.articleId, {
            title: this.title,
            date: new Date(),
            img: this.img,
            description: this.contentInput
          }, function(err, res) {
            if (!err && res && res._id) {
              elt.$router.push('/article/' + res._id);
            } else {
              alert('Erreur lors de la mise à jour de l\'article')
            }
          })
      } else {
        Article.add({
            title: this.title,
            date: new Date(),
            img: this.img,
            description: this.contentInput
          }, function(err, res) {
            if (!err && res && res._id) {
              elt.$router.push('/article/' + res._id);
            } else {
              alert('Erreur lors de l\'ajout de l\'article')
            }
          })
      }
    }
  }
}
</script>
