<template>
  <div class="fullArticle">
    <div class="article" v-bind:class="{ minified: isMinified }">
      <img class="image" :src="img">
      <div v-if="!commentsAreShowed" class="commentsNumber">
        <span class="material-icons">chat_bubble_outline</span>
        {{ articleComments ? articleComments.length : 0 }}
      </div>
      <div class="date">
        <span class="material-icons">event</span> {{ date }}
      </div>
      <div class="title">
        {{ title }}
        <div class="float-right" v-if="!isMinified">
          <div class="material-icons cursor-pointer" @click="updateArticle">settings</div>
          <div class="material-icons cursor-pointer" @click="deleteArticle">close</div>
        </div>
      </div>
      <div class="content" v-html="content"></div>
      <router-link class="btn" v-if="!commentsAreShowed" :to="{ name: 'article', params: { id: articleId }}">Lire plus...</router-link>
    </div>
    <div v-if="commentsAreShowed" class="comments">
      <div class="comment" v-for="com in articleComments">
        <div class="top">
          <span class="author">{{ com.author }}</span> | <span class="date">25 Avril 2018</span>
        </div>
        <div class="content">{{ com.comment }}</div>
      </div>

      <div class="comment">
        <form class="content" v-on:submit.prevent="formSubmitted">
          <div class="padding">
            <h3 class="text-center">Ecrire un commentaire</h3>
            <div class="input">
              <label for="login">Login</label>
              <input type="text" name="login" id="login">
            </div>
            <div class="input">
              <label for="com">Commentaire</label>
              <div class="help">Pensez à lire les conditions d'utilisation</div>
              <textarea id="com" rows="6"></textarea>
            </div>
            <div class="text-center">
              <input class="btn" type="submit" name="send" value="Poster mon commentaire">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import Article from '../datas/Article';
import Helpers from '../tools/Helpers';
import marked from 'marked';


export default {
  props: [ 'id', 'comments', 'minified' ],
  created() {
    if (this.id) {
      let elt = this;

      Article.get(this.id, (err, res) => {
        if (!err) {
          elt.articleId = elt.id;
          elt.date = Helpers.formatDate(res.date);
          elt.title = res.title;
          elt.img = res.img;
          elt.content = marked(res.description);
          elt.articleComments = res.comments;
        }
      })
    }
  },
  data() {
    return {
      articleId: this.id,
      commentsAreShowed: this.comments,
      isMinified: this.minified,
      img: undefined,
      date: undefined,
      title: undefined,
      content: undefined,
      coments: undefined
    }
  },
  methods: {
    linkArticle() {
      this.$router.push('/article/' + this.id)
    },
    formSubmitted() {
      alert('form submited');
    },
    updateArticle() {
      this.$router.push({ name: 'update-article', params: { id: this.articleId } })
    },
    deleteArticle() {
      if (confirm('Êtes-vous sur de vouloir supprimer cet article ?')) {
        let elt = this;

        Article.delete(this.articleId, function(err, res) {
          if (!err && res && res._id) {
            elt.$router.push('/')
          } else {
            alert('Problème lors de la supression de l\'article')
          }
        })
      }
    }
  }
}
</script>