<template>
  <div id="articles">
    <app-article v-bind:minified="isMinified" v-for="article in articles" :id="article._id"></app-article>
    <div class="padding text-center">
      <router-link class="btn" :to="{ name: 'write-article' }">Créer un article</router-link>
    </div>
  </div>
</template>

<script>
import ArticleComponent from './article.vue';
import Article from '../datas/Article';

export default {
  props: [ 'minified' ],
  created() {
    let that = this;
    
    Article.get(undefined, (err, res) => {
      if (!err && res) {
        that.articles = res;
      } else {
        that.articles = undefined;
      }
    })
  },
  data() {
    return {
      isMinified: this.minified,
      articles: undefined
    }
  },
  components: {
    'app-article': ArticleComponent
  }
}
</script>
