<template>
  <header>
    <div v-on:click="goHome">
      <div class="logo"></div>
      <div class="name">{{ username }}</div>
    </div>
  </header>
</template>

<script>
export default {
  data() {
    return {
      username: 'Thomas Le Sciellour'
    }
  },
  methods: {
    goHome() {
      this.$router.push('/')
    }
  }
}
</script>
