<template>
  <nav v-bind:class="{ active: menuShowed || toolboxShowed }">
    <div class="navigation">
      <div v-on:click="toggleMenu" class="material-icons" v-bind:class="{ active: menuShowed }">{{ menuIcon }}</div>
      <div v-on:click="toggleToolbox" class="material-icons" v-bind:class="{ active: toolboxShowed }">{{ toolboxIcon }}</div>
    </div>
    <transition name="slide">
      <div v-if="menuShowed" class="panel">
        <div class="v-center">
          <ul>
            <li>
              <router-link v-on:click.native="closePanels" to="/">Accueil</router-link>
            </li>
            <li>
              <router-link v-on:click.native="closePanels" to="/timeline">Timeline</router-link>  
            </li>
            <li>
              <router-link v-on:click.native="closePanels" to="/blog">Blog</router-link>
            </li>
          </ul>
        </div>
      </div>
      <div v-if="toolboxShowed" class="panel">
        <div class="v-center">
          <form class="inline-form" v-on:submit.prevent="formSubmitted" v-if="userStatus === 'inscription'">
            <div class="input">
              <label for="login">Login</label>
              <input type="text" name="login" id="login">
            </div>
            <div class="input">
              <label for="password">Password</label>
              <input type="password" name="password" id="password">
            </div>
            <div class="input">
              <label for="repeat_password">Repeat password</label>
              <input type="password" name="repeat_password" id="repeat_password">
            </div>
            <div class="text-center">
              <input class="btn" type="submit" name="registration" value="S'inscrire">
            </div>
          </form>
          <form class="inline-form" v-on:submit.prevent="formSubmitted" v-else>
            <div class="input">
              <label for="login">Login</label>
              <input type="text" name="login" id="login">
            </div>
            <div class="input">
              <label for="password">Password</label>
              <input type="password" name="password" id="password">
            </div>
            <div class="text-center">
              <input class="btn" type="submit" name="connexion" value="Se Connecter"><br />
              <div class="btn" v-on:click="userStatus = 'inscription'">S'inscrire</div>
            </div>
          </form>
        </div>
      </div>
    </transition>
  </nav>
</template>

<script>
import User from '../datas/User';


export default {
  methods: {
    closeToolbox() {
      this.toolboxShowed = false;
      this.toolboxIcon = 'face';
    },
    closeMenu() {
      this.menuShowed = false;
      this.menuIcon = 'menu';
    },
    closePanels() {
      this.closeToolbox()
      this.closeMenu()
    },
    toggleMenu() {
      this.menuIcon = this.menuIcon === 'menu' ? 'close' : 'menu';
      this.menuShowed = !this.menuShowed;

      if (this.menuShowed) {
        this.closeToolbox();
      }
    },
    toggleToolbox() {
      this.toolboxIcon = this.toolboxIcon === 'face' ? 'close' : 'face';
      this.toolboxShowed = !this.toolboxShowed;

      if (this.toolboxShowed) {
        this.closeMenu();
      }
    },
    formSubmitted(e) {
      function formatDataInput() {
        let form = e.currentTarget,
            data = {};

        for (let i=0; i<form.length; i++) {
          let elt = form[i];

          if (elt.type === 'submit') {
            data.submit = form[i].name;
          } else {
            data[form[i].name] = form[i].value;
          }
        }
        
        return data;
      }

      let data = formatDataInput();

      // Inscription
      if ('registration' === data.submit) {
        if (data.password === data.repeat_password) {
          User.add(data, function(err, res) {
            console.log(err)
            console.log(res)
          });
        } else {
          console.log('Two passwords are different')
        }
      }

      // Connexion
      else if ('connexion' === data.submit) {
        User.get({ type: 'connexion', username: data.login, password: data.password }, function(err, res) {
          if (!err && res) {
            if (res.token && res.user) {
              sessionStorage.setItem('user_token', res.token)
              alert('connected')
            } else {
              alert(res.message)
            }
          } else {
            alert('error')
          }
        })
      }
    }
  },
  data() {
    return {
      menuIcon: 'menu',
      toolboxIcon: 'face',
      menuShowed: false,
      toolboxShowed: false,
      userStatus: 'connexion'
    }
  }
}
</script>