* {
  @include box-sizing(border-box);
  -webkit-font-smoothing: antialiased;
  @include user-select(none);
}

html, body {
  margin: 0;
  padding: 0;
  font-size: 15px;
  background: rgb(200, 200, 200);
  font-family: Verdana, Geneva, sans-serif;
}


.inline-form {
  display: inline-block;
  text-align: left;
}