/**
 *  Vendors import
**/
/*! normalize.css v5.0.0 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Correct the line height in all browsers.
 * 3. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
/* Document
   ========================================================================== */
html {
  font-family: sans-serif;
  /* 1 */
  line-height: 1.15;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 3 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block; }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0; }

/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template {
  display: none; }

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }

/**
 *  Mixins import
**/
/**
 *  All App Libraries
**/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

html, body {
  margin: 0;
  padding: 0;
  font-size: 15px;
  background: #c8c8c8;
  font-family: Verdana, Geneva, sans-serif; }

.inline-form {
  display: inline-block;
  text-align: left; }

@font-face {
  font-family: "Material Icons";
  src: url("../fonts/material-icons/MaterialIcons-RegMaterialIcons-Regular.eot?#iefix");
  src: url("../fonts/material-icons/MaterialIcons-Regular.ttf") format("truetype"), url("../fonts/material-icons/MaterialIcons-Regular.woff") format("woff"), url("../fonts/material-icons/MaterialIcons-Regular.woff2") format("woff"), url("../fonts/material-icons/MaterialIcons-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga'; }

.bg-white {
  background: white; }

.padding {
  padding: 1em; }

.float-right {
  float: right; }

.cursor-pointer {
  cursor: pointer; }

.text-center {
  text-align: center; }

.page-wrapper {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto; }

.vertical-padding {
  padding-top: 1em;
  padding-bottom: 1em; }

.vertical-large-padding {
  padding-top: 3em;
  padding-bottom: 3em; }

.table {
  display: table;
  height: 100%;
  width: 100%; }
  .table > .cell {
    display: table-cell; }
    .table > .cell.cell-1 {
      width: 100%; }
    .table > .cell.cell-2 {
      width: 50%; }
    .table > .cell.cell-3 {
      width: 33.33333%; }
    .table > .cell.cell-4 {
      width: 25%; }
    .table > .cell.cell-5 {
      width: 20%; }
    .table > .cell.cell-6 {
      width: 16.66667%; }
    .table > .cell.cell-7 {
      width: 14.28571%; }
    .table > .cell.cell-8 {
      width: 12.5%; }
    .table > .cell.cell-9 {
      width: 11.11111%; }
    .table > .cell.cell-10 {
      width: 10%; }

/**
 *  Components import
**/
nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  color: #505050; }
  nav.active {
    bottom: 0;
    color: white; }
  nav > .navigation {
    overflow: hidden;
    -webkit-box-shadow: inset 0 12px 20px -12px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: inset 0 12px 20px -12px rgba(0, 0, 0, 0.6);
    box-shadow: inset 0 12px 20px -12px rgba(0, 0, 0, 0.6); }
    nav > .navigation > .material-icons {
      float: right;
      font-size: 28px;
      padding: 10px 20px;
      cursor: pointer;
      opacity: 0.7;
      filter: Alpha(70);
      -webkit-transition-duration: 0.4s;
      -moz-transition-duration: 0.4s;
      -o-transition-duration: 0.4s;
      transition-duration: 0.4s; }
      nav > .navigation > .material-icons:hover, nav > .navigation > .material-icons.active {
        opacity: 1;
        filter: Alpha(100); }
      nav > .navigation > .material-icons:nth-child(1) {
        float: left; }
  nav.active > .navigation {
    background: rgba(0, 0, 0, 0.9); }
  nav > .panel {
    display: table;
    height: calc(100% - 46px);
    width: 100%;
    background: rgba(0, 0, 0, 0.9);
    -webkit-box-shadow: 0px 0px 30px -10px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 30px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 30px -10px rgba(0, 0, 0, 0.75); }
    nav > .panel > .v-center {
      display: table-cell;
      width: 100%;
      height: 100%;
      vertical-align: middle;
      text-align: center;
      padding: 5px; }
    nav > .panel ul {
      display: inline-block;
      list-style: none;
      margin: 0;
      padding: 0; }
      nav > .panel ul > li {
        text-align: center;
        padding: .4em 0; }
        nav > .panel ul > li > a {
          display: inline-block;
          font-size: 1.5em;
          padding: 7px 0;
          text-decoration: none;
          color: inherit;
          border-bottom: 1px solid transparent;
          -webkit-transition-duration: 0.4s;
          -moz-transition-duration: 0.4s;
          -o-transition-duration: 0.4s;
          transition-duration: 0.4s; }
          nav > .panel ul > li > a:hover {
            border-color: rgba(255, 255, 255, 0.4); }

/**
 *  Vue.JS Animation
**/
.slide-enter-active {
  transition: all .7s ease; }

.slide-leave-active {
  transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1); }

.slide-enter, .slide-leave-to {
  transform: translateY(-100%); }

header {
  position: relative;
  text-align: center;
  padding: 150px 5px; }
  header > div {
    display: inline-block;
    cursor: pointer; }
    header > div > .logo {
      display: inline-block;
      border: 5px solid white;
      background-color: white;
      background-image: url(../img/avatar.png);
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: center;
      height: 150px;
      width: 150px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      -webkit-box-shadow: 0px 0px 30px -10px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 0px 0px 30px -10px rgba(0, 0, 0, 0.75);
      box-shadow: 0px 0px 30px -10px rgba(0, 0, 0, 0.75); }
    header > div > .name {
      font-size: 3em;
      padding-top: 20px;
      font-family: cursive;
      color: black;
      color: rgba(0, 0, 0, 0.8); }

#timeline {
  position: relative;
  max-width: 800px;
  margin: 2em auto;
  padding: 0 40px 0 40px; }
  #timeline > .line {
    background-image: linear-gradient(to bottom, transparent, #464646 10%, #464646, #464646 80%, transparent);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 10px;
    width: 2px; }
  #timeline > .steps > .step {
    position: relative;
    padding: 30px 0; }
    #timeline > .steps > .step:before {
      background: #c8c8c8;
      content: '';
      position: absolute;
      border: 2px solid #464646;
      top: 46px;
      left: -35px;
      bottom: 46px;
      width: 8px;
      min-height: 8px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px; }
    #timeline > .steps > .step > .date,
    #timeline > .steps > .step > .entity {
      font-size: .8em;
      color: rgba(0, 0, 0, 0.5); }
    #timeline > .steps > .step > .title {
      font-size: 1em;
      font-weight: bold;
      text-transform: uppercase;
      cursor: pointer; }
    #timeline > .steps > .step > .content {
      display: none;
      padding: 5px;
      font-size: .8em; }
    #timeline > .steps > .step:hover:before, #timeline > .steps > .step.active:before {
      background: #787878; }
    #timeline > .steps > .step:hover > .content, #timeline > .steps > .step.active > .content {
      display: block; }

#articles {
  max-width: 900px;
  width: 100%;
  margin: 0 auto; }

.fullArticle {
  padding: 5px 0;
  max-width: 700px;
  margin: 0 auto; }

.article {
  position: relative;
  margin: 0;
  color: #333333;
  background: white;
  overflow: hidden;
  padding: 10px; }
  .article > .image {
    float: none;
    display: block;
    max-width: 100%;
    max-height: 400px;
    margin: 0 auto; }
  .article.minified > .image {
    float: none;
    margin: 0 auto; }
  .article > .date, .article > .commentsNumber {
    font-size: .75em;
    line-height: 35px;
    color: #969696;
    padding: 0 10px; }
    .article > .date > .material-icons, .article > .commentsNumber > .material-icons {
      float: left;
      margin: 5px; }
  .article > .date {
    margin-top: 10px; }
  .article.minified > .date {
    margin-top: 0;
    padding: 0; }
  .article > .title {
    font-weight: 500;
    color: black;
    font-size: 1.8em;
    letter-spacing: -.08em;
    padding-top: 20px;
    padding-bottom: 0; }
  .article.minified > .title {
    padding-top: 0;
    padding-bottom: 5px;
    font-size: 1.4em; }
  .article > .btn {
    margin: 5px 0 0 0; }
  .article.minified > .btn {
    float: right;
    text-align: center;
    margin: 0 0 0 5px; }
  .article > .commentsNumber {
    float: right; }
  .article.minified > .content {
    display: none; }

.comments {
  margin-top: 50px;
  padding: 0 5px; }
  .comments > .comment {
    margin: 10px 0; }
    .comments > .comment > .top {
      font-size: .9em; }
      .comments > .comment > .top > .author,
      .comments > .comment > .top > .date {
        display: inline-block;
        padding: 5px; }
      .comments > .comment > .top > .author {
        color: rgba(0, 0, 0, 0.5);
        font-weight: bold; }
    .comments > .comment > .content {
      padding: 5px;
      font-size: .9em; }

@media screen and (min-width: 400px) {
  .fullArticle {
    padding: 5px; }
  .comments {
    padding: 0; } }

@media screen and (min-width: 400px) {
  .fullArticle {
    padding: 5px; }
  .comments {
    padding: 0; }
  .article.minified > .image {
    float: left;
    width: 33%;
    margin: 0 5px 0 0; } }

.input {
  display: block;
  margin: 15px 0; }
  .input > label {
    display: block;
    font-size: .9em; }
  .input > .help {
    font-size: .7em; }
  .input > input,
  .input > textarea {
    display: block;
    margin: 5px 0;
    font-family: inherit;
    font-size: 1em;
    border: 0;
    padding: .7em 1em;
    background: rgba(255, 255, 255, 0.7);
    color: #505050; }
    .input > input:hover, .input > input:focus,
    .input > textarea:hover,
    .input > textarea:focus {
      background: rgba(255, 255, 255, 0.85); }
  .input > input {
    width: 300px; }
  .input > textarea {
    width: 100%; }

.btn {
  display: inline-block;
  text-decoration: none;
  border: 0;
  padding: .75em 2em;
  background: #3c3c3c;
  color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
  font-size: 1em;
  font-family: inherit;
  font-weight: 700;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  outline: none;
  margin: 15px 5px; }
  .btn:hover {
    background: #323232; }
  .btn:focus {
    background: #505050; }

#funGoDonut {
  height: 400px;
  background: rgba(0, 0, 0, 0.65);
  padding: 1em; }

/**
 *  Pages import
**/
#home {
  padding-bottom: 2em; }
  #home > .cell,
  #home > .table > .cell {
    padding-bottom: 50px; }
  #home > .cell > .title,
  #home > .table > .cell > .title {
    display: block;
    padding: 7px 25px;
    cursor: pointer;
    text-align: center;
    color: rgba(0, 0, 0, 0.7);
    font-size: 1em;
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    transition-duration: 0.4s; }
    #home > .cell > .title > .material-icons,
    #home > .table > .cell > .title > .material-icons {
      display: block;
      font-size: 2.1em; }

@media screen and (min-width: 800px) {
  #home > .table {
    display: table; }
    #home > .table > .cell {
      display: table-cell;
      vertical-align: top; }
      #home > .table > .cell:first-child {
        width: 450px; } }
